[flake8]

inline-quotes = double
multiline-quotes = double
docstring-quotes = double

ignore =
    # E501: line too long
    E501

exclude = venv

max_complexity = 7

statistics = True
doctests = True
show-source = True
